/*-------------header---------*/
.header{
	background-color: $secondary;
	.navbar{
		background-color: transparent;
		.logo{
			img{
				max-height: 3.1rem;
			}
		}
		.navbar-item {
			display: inline-block;
			padding:1rem 0.75rem 1rem;
		}
	}
}
/*---------Media Section-------*/
.media-section{
	.card{
		.card-image{
			.image{
				position: relative;
				padding-top: 85%;
				img{
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
				}
			}
		}
		.card-content{
			.content{
				a{
					&:hover > h5{
						color: $gold;
					}
				}
			}
		}
		&:hover > .card-image .is-overlay{
			opacity: 1;
			height: 100%;
			transition: .4s ease-in-out;
		}
	}
	.tab-content{
		overflow:visible!important;
		position: relative!important;
		.show_all{
			position: absolute;
			left: 0;
			top: -40px;
		}
	}
}

/*---------sponsers-section------*/
.sponsers-section, .categories-section{
	.item{
		a{
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			padding: .5rem;
			img{
				height: 110px;
				object-fit: contain;
				width: 100%;
			}
		}
	}
	.prev-btn, .next-btn{
		position: absolute;
		z-index: 1;
		border:0px;
		background-color: $light-grey;
	}
	.prev-btn{
		right: -1.4rem;
	}
	.next-btn{
		left: -1.4rem;
	}
}
.categories-section .prev-btn, .categories-section .next-btn{
	top: 4rem;
}
.sponsers-section .prev-btn, .sponsers-section .next-btn{
	top: 3.5rem;
}
.prev-btn:active, .prev-btn:hover, .prev-btn:focus, .next-btn:active, .next-btn:hover, .next-btn:focus{
	background-color: $primary;
	color: #FFF!important;
	border-color: transparent!important;
	border:0px;
}
/*--------------Slideshoe section---*/
.slideshow{
	.slick-slide{
		figure{
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: -1;
		}
		.item{
			&::after{
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.3);
			}
			.description{
				position: relative;
				z-index: 1;
			}
		}
	}
	.slick-dots{
		bottom: 25px;
		li{
			width: 40px;
			height: 3px;
			button{
				width: 40px;
				height: 3px;
				background: rgba(255,255,255,.7);
				&::before{
					width: 40px;
					height: 3px;
					color: transparent;
				}
				padding:3px;
			}
		}
		li.slick-active{
			button{
				background: rgb(190, 149, 4);
			}
		}
	}
}
.slick-dotted.slick-slider{
	margin-bottom: 0px;
}
/*-----------footer-------*/
.footer{
	padding: 3rem 1.5rem;
	ul{
		li{
			margin-bottom: .8rem;
		}
	}
}
