.inner-header{
	position: relative;
	background-image: url('/front/images/order-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 14rem;
	&::after{
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		background: rgba(196, 187, 187, 0.6);
	}
	.club-section{
		figure{
			img{
				height: 8rem;
			}
		}
		.club-link{
			padding:.3rem 2rem;
			background-color: rgba(0,0,0,.7);
			color: #FFF;
			border-radius: 20px;
			font-weight: 600;
			&:hover{
				background-color:#fff;
				color: $secondary;
			}
		}
		.club-contact{
			width: 100%;
			background-color: rgba(0,0,0,.7);
			a{
				padding: .3rem 1rem;
				font-weight: 600;
				align-items: center;
			}
		}
	}
}
.media-section{
	.club-img{
		img{
			height: 300px;
			width: 100%;
		}
	}
	.name-img{
		border-radius: 100%;
		width: 50px;
		height: 50px;
		padding: 5px !important;
		background-color: #FFF;
		img{
			height: 100%;
		}
	}
}
/*------------show blog----------*/
.show-blog{
	.card-image{
		border:2px solid $secondary;
		figure.blur{
			overflow:hidden;
			position: relative;
			border-radius: 15px;
			img{
				filter: blur(6px);
				object-fit: cover;
			}
		}
		figure.non-blur{
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 1;
			img{
				object-fit: contain;
			}
		}
		figure{
			position: relative;
			padding-top: 35%;
			width: 100%;
			img{
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
				left:0;
				margin:auto;
			}
		}
	}
}
/*----------about page-------------*/
.about-page{
	.card-image{
		overflow:hidden;
		border:2px solid $secondary;
		figure{
			position: relative;
			padding-top: 70%;
			img{
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
			}
		}
	}
}

/*---------gallery page---------*/
.lg-outer .lg-inner{
	direction: ltr;
}
.gallery-page{
	#lightgallery{
		.gallery-item{
			&:hover > a .image img{
				opacity: 1;
				transition: .4s ease-in-out;
				border:5px solid $secondary;
			}
			float: right;
			height: 250px;
			a{
				padding: .3rem;
				display: block;
				width: 100%;
				height: 100%;
				figure{
					display: block;
					width: 100%;
					height: 100%;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
						display: block; 
						border-radius: 15px;
						opacity: .8;
						transition: .4s ease-in-out;
					}
				}
			}
		}
	}
}
.card #lightgallery .gallery-item:nth-child(1n), .card #lightgallery .gallery-item:nth-child(2n){
	width: 50%;
}
.card #lightgallery .gallery-item:nth-child(6n), .card #lightgallery .gallery-item:nth-child(5n), .card #lightgallery .gallery-item:nth-child(3n), .card #lightgallery .gallery-item:nth-child(4n){
	width: 25%;
}
.show-icon{
	position: absolute;
	top: 43%;
	color: #FFF;
	font-size: 2rem;
	right: 0;
	left: 0;
	margin: auto;
}
.lg-outer .lg-thumb-outer{
	direction: ltr;
}
.gallery-nav{
	.slick-slide{
		padding:3px;
		border: 1px solid transparent;
		.item{
			figure{
				width: 100%;
				height: 100%;
				img{
					border-radius: 8px;
					height: 100%;
					cursor: pointer;
				}
			}
		}
	}
	.slick-current{
		.item{
			figure{
				img{
					border:3px solid $secondary;
					border-radius: 15px;
				}
			}
		}
	}
}

.gallery-slider{
	border-radius: 15px;
	position: relative;
	z-index: 1;
	.slick-arrow {
		right: -25px;
		background: #c91a12b5;
		width: 50px;
		height: 40px;
		border-radius: 6px;
		z-index: 1;
	}
	
	&::after, &::before{
		position: absolute;
		content: '';
		border-radius: 15px;
		z-index: -1;
		box-shadow:0 10px 15px 10px rgba(0, 0, 0, 0.2), 0 4px 6px -5px rgba(0, 0, 0, 0.05) !important;
	}
	&::after{
		top: 8px;
		right: 10px;
		background-color: #FFF;
		width: 98%;
		height: 96%;
	}
	&::before{
		top: 2px;
		right: 1px;
		background-color: #eceaea;
		width: 100%;
		height: 99%;
	}
	.slick-slide{
		padding:1rem!important;
		.item{
			figure{
				padding-top:55%;
				img{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
				}
			}

		}
	}
}