.inner-header{
	position: relative;
	background-image: url('/front/images/hero-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	&::after{
		position: absolute;
		content: '';
		height: 100%;
		width: 100%;
		background: rgb(0,0,0);
		background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(47,46,44,.95) 36%);
	}
	.club-section{
		figure{
			img{
				height: 8rem;
			}
		}
		.club-link{
			padding:.3rem 2rem;
			background-color: rgba(255,255,255,.9);
			color: $primary;
			border-radius: 20px;
			font-weight: 600;
			&:hover{
				background-color:#fff;
			}
		}
		.club-contact{
			width: 100%;
			background-color: rgba(255,255,255,.9);
			border-radius: 4px;
			a{
				padding: .3rem 1rem;
				font-weight: 600;
				align-items: center;
			}
		}
	}
}