body{
	font-size: 15px;
	background-color: $body-bg;
	direction: rtl;
	text-align: right;
	font-family: 'Cairo', sans-serif;
}
a{
	&:focus{
		outline: none;
	}
}
.no-pointer{
	cursor: default;
}
.title{
	color: #fff;
	font-size: 1.2rem;
}
