::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #FFF;
	border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #CCC; 
	border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #CCC; 
}
body{
	font-size: 15px;
	background-color: $body-bg;
	direction: rtl;
	text-align: right;
	font-family: 'Cairo', sans-serif;
}
a{
	&:focus{
		outline: none;
	}
}
.no-pointer{
	cursor: default;
}
.title{
	color: #fff;
	font-size: 1.1rem;
}
.basic-title{
	border-bottom: 1px solid hsl(0, 3%, 80.2%);
	position: relative;
	width: 220px;
	padding-bottom: .6rem;
	&::after{
		position: absolute;
		top: 98%;
		right: 0;
		width: 100px;
		height: 4px;
		background-color: #be9750;
		content: "";
		left: 0;
		margin: auto;
	}
}
.has-background-gradiant{
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,46,44,1) 36%);
}
.has-background-secondary-gradiant{
	background: rgb(105,6,16);
	background: linear-gradient(90deg, rgba(105,6,16,1) 0%, rgba(218,27,26,1) 52%);
}
.has-background-gold{
	background-color: $gold;
}
.has-background-grey-light{
	background-color: $light-grey!important;
}
.has-background-grey-light2{
	background-color: $grey-light2;
}
.has-text-gold{
	color: $gold;
}
.has-text-secondary{
	color: $secondary;
}
.section-padding{
	padding: 2rem 0;
}
@media screen and (min-width: 1216px){
	.container:not(.is-max-desktop) {
		max-width: 1230px;
	}
}
h1,h2,h3,h4,h5,h6{
	font-weight: 600;
}
h3,.h3{
	font-size: 1.5rem;
}
h4,.h4{
	font-size: 1.3rem;
}
.box-shadow{
	box-shadow:0px 0px 13px rgba(178, 180, 187, 0.42);
}
.box-shadow-sm{
	box-shadow:0px 0px 10px rgba(178, 180, 187, 0.42);
}
.tabs {
	margin-top: 2rem;
	margin-bottom: 0px!important;
	ul{
		border-bottom-color:transparent;
		li{
			background-color: $light-grey;
			border-radius: 15px 15px 0 0;
			margin-left: 10px;
			a{
				padding: .7em 3em;
				font-weight: bold;
				border-bottom-color: transparent;
			}
		}
		li.is-active{
			a{
				border-bottom-color: transparent;
				background: rgb(105,6,16);
				background: linear-gradient(90deg, rgba(105,6,16,1) 0%, rgba(218,27,26,1) 52%);
				color: #FFF!important;
				border-radius: 15px 15px 0 0;
			}

		}
	}
}
.vue-bulma-tabs .tab-content{
	border-radius: 15px 0 15px 15px;
	background-color: $light-grey;
	margin:0px!important;
	margin-top:-1px;
	.tab-pane{
		padding:2rem;
	}
}
.shadow-lg {
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.is-tr-1 {
	top: 1rem;
	right: 1rem;
}
.image-contain{
	object-fit: contain;
	width: 100%;
}
.image-cover{
	object-fit: cover;
	width: 100%!important;
	height: 100%!important;
}

.is-rounded {
	border-radius: 0.375rem;
}

.is-absolute {
	position: absolute;
}
.radius-15{
	border-radius: 15px;
}
.height-80vh{
	height: 80vh;
}
/**********display******/
.display-table{
	display: table!important;
}
.display-table-cell{
	display: table-cell;
}
.vertical-align{vertical-align: middle;}
/*--------line-height-----*/
.line-height3{
	line-height: 3rem!important;
}
.w-100{
	width: 100%;
} 
.full-height{
	height: 100%;
}
.has-background-grey-lighter{
	background-color: $grey-lighter;
}
.tab-content, .tab-pane{
	transition: .4s ease-out;
}
.is-overlay{
	background-color: rgba(0,0,0,.5);
	text-align: center;
	transition: .4s ease-in-out;
	opacity: 0;
	height: 0px;
	i{
		color: #FFF;
		font-size: 2rem;
		margin-top: 40%;
	}
}
.position-relative{
	position: relative;
	z-index: 1;
}
.has-text-light{
	color: #FFF!important;
}
.table{
	border-radius: 15px 0 15px 15px;
	overflow: hidden;
	color: $primary;
	width: 100%;
	thead{
		background-color: #EAE3E3;
		th{
			color: $secondary;
		}
	}
	tbody{
		td{
			label{
				border: 1px solid #ECECEC;
				border-radius: 4px;
				color: $secondary;
				justify-content: center;
				width: 42px;
				height: 42px;
				background-color: #FFF;
				align-items:center;
				display: flex;
			}
		}
		td.order-team{
			a{
				display: flex;
				align-items:center;
				figure{
					border: 1px solid #ECECEC;
					border-radius: 4px;
					padding: 2px;
					background: #fff;
					width: 40px;
					height: 40px;
					text-align: center;
					margin-left: 10px;
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}
.table th:not([align]){
	text-align: right;
}
.table.is-striped tbody tr:not(.is-selected):nth-child(2n){
	background-color: hsl(0, 8.3%, 95.3%);
}
table td:not([align]), table th:not([align]){
	vertical-align: middle;
}
.hvr-rectangle-out::before{
	background-color: $gold;
	border-radius: 50%;
}
.d-block{
	display: block!important;
}
.d-inline-block{
	display: inline-block;
}
.card{
	border-radius: 15px;
	overflow:hidden;
}
.overflow-x{
	overflow-x: hidden;
}
.slide_down_up {
	-webkit-animation: slide_down_up 1.7s ease-in-out infinite alternate both;
	animation: slide_down_up 1.7s ease-in-out infinite alternate both;
}
.slide_left_right {
	-webkit-animation: slide_left_right 1.7s ease-in-out infinite alternate both;
	animation: slide_left_right 1.7s ease-in-out infinite alternate both;
}

/* ------- */
@-webkit-keyframes slide_left_right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
}

@keyframes slide_left_right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
}
/**
 * ----------------------------------------
 * animation slide_up_down
 * ----------------------------------------
 */
 .slide_up_down {
 	-webkit-animation: slide_up_down 1.7s ease-in-out infinite alternate both;
 	animation: slide_up_down 1.7s ease-in-out infinite alternate both;
 }

 /* ------- */
 @-webkit-keyframes slide_up_down {
 	0% {
 		-webkit-transform: translateY(0);
 		transform: translateY(0);
 	}
 	100% {
 		-webkit-transform: translateY(-20px);
 		transform: translateY(-20px);
 	}
 }

 @keyframes slide_up_down {
 	0% {
 		-webkit-transform: translateY(0);
 		transform: translateY(0);
 	}
 	100% {
 		-webkit-transform: translateY(-20px);
 		transform: translateY(-20px);
 	}
 }
 /* ------- */
 @-webkit-keyframes slide_down_up {
 	0% {
 		-webkit-transform: translateY(0);
 		transform: translateY(0);
 	}
 	100% {
 		-webkit-transform: translateY(30%);
 		transform: translateY(30%);
 	}
 }

 @keyframes slide_down_up {
 	0% {
 		-webkit-transform: translateY(0);
 		transform: translateY(0);
 	}
 	100% {
 		-webkit-transform: translateY(30%);
 		transform: translateY(30%);
 	}
 }
 .news-loader{
 	margin:auto;
 	width: 70px;
 	height: 70px;
 	display: block;
 	img{
 		width: 100%;
 		height: 100%;
 	}
 }
 .mt-78{
 	margin-top: 78px;
 }
 .table-container{
 	background: #FFF;
 	border-radius: 15px;
 	overflow-y: auto;
 	border:2px solid $secondary;
 }

 .order-title{
 	display: inline-block;
 	width: auto;
 	padding: 0.8rem 1.5rem 1.5rem 2.5rem;
 	border-radius: 100px 6px 0 0px;
 	margin-bottom: -15px;
 } 
 .height-450{
 	height: 450px!important;
 } 
 .height-630{
 	height: 630px!important;
 } 
 .upcomming-card{
		border:2px solid $secondary;
		background-color: #FFF;
		overflow-y: auto;
		.card{
			box-shadow: none;
			border: 1px solid #E6E6E6;
			border-top: 2px solid $secondary;
			h4{
				font-size: 1.1rem;
				span{
					border-right: 2px solid $secondary;
					margin-right: 10px;
					padding-right: 10px;
					color: $grey-dark;
					font-weight: normal;
				}
			}
			small{
				font-weight: normal;
			}
			.match{
				align-items:center;
				display: flex;
				justify-content: center;
				text-align: center;
				margin-top: 1.5rem;
				a{
					margin:0 5px;
				}
				figure{
					width: 86px;
					height: 86px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: #E6E6E6;
					padding: 10px;
					overflow: hidden;
				}
				span{
					background: #000000;
					color: #FFFFFF;
					border-radius: 50%;
					display: flex;
					width: 30px;
					align-items: center;
					height: 30px;
					justify-content: center;
				}
			}
		}
	}